name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x] # Define Node.js versions you want to test against

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      # - name: Run linting
      #  run: npm run lint # Optional: run if you have a linting script

      #  - name: Build
      #    run: npm run build # Optional: run if your project needs a build step

      - name: Run tests
        env:  # Set environment variables for this step
          BASE_URL_FR_END: ${{ secrets.BASE_URL }}
          CLOUDFLARE_R2_ACCESS_KEY_ID: ${{ secrets.CLOUDFLARE_R2_ACCESS_KEY_ID }}
          CLOUDFLARE_R2_BUCKET: ${{ secrets.CLOUDFLARE_R2_BUCKET }}
          CLOUDFLARE_R2_ENDPOINT: ${{ secrets.CLOUDFLARE_R2_ENDPOINT }}
          CLOUDFLARE_R2_SECRET_ACCESS_KEY: ${{ secrets.CLOUDFLARE_R2_SECRET_ACCESS_KEY }}
          DBCONNECT: ${{ secrets.DBCONNECT }}
          DBLOCAL: ${{ secrets.DBLOCAL }}
          PORT: ${{ secrets.PORT }}
          TOKENKEY: ${{ secrets.TOKENKEY }}
        run: npm test
